.row {
    margin-left: 5px;
    width: 100%;
}

.img-circle {
    width: 150px;
    height: 150px;
}

@media (min-width: 720px) {
    .col {
        float: left;
        width: 33.333%;
    }
    .row {
        margin-top: 30px
    }
}

@media (max-width: 720px) {
    .col {
        margin-top: 10%;
    }

}


.col {
    text-align: center;
}